@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Fira Mono", monospace;
  line-height: 1.5;
  font-weight: 440;
  background-color: #24283b;
  color: #c0caf5;
}
h1 {
  color: #ffc777;
  font-weight: 500;
}


h2 {
  color: #ffc777;
  font-weight: 500;
}

h3 {
  color: #f7ead8;
  font-weight: 450;
}


h4 {
  color:#f1e9de;
  font-weight: 400;
  font-size: 15px;
}

h5 {
  color:#ffc777;
  font-weight: 400;
  font-size: 12px;
}

